@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.body-form{
    background-image: url("./../img/background-body.png");
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* width: 100vw; */
    height: 58px;
    padding-left: 79px;
    padding-right: 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header div {
    display: flex;
    align-items:center;
    width: 351px;

}

.footer-logo{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.icon-compas::after{
    content:"|";
    font-size: 22px;
    margin-left: 46px;
    color: #FFFFFF;
}
.icon{
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 25px;
    width: 23px;
    height: 24px;
}
.icon-calendar{
    background-image:url("./../img/icon-calendar.svg");
}
.icon-email{
 background-image:url("./../img/icon-email.svg");
 
}
.icon-compas{
    margin-right: 53px;
    background-image:url("./../img/icon-compas.svg");
}
.link-nav{
    margin-right: 4px;
    margin-left: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.paragraph-nav{
    white-space: nowrap;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.contain{
    width: 328px;
}
.registration-form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 444px;
    margin: 54px auto 74px auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.form-section{
    display: grid;
    grid-template-rows: 60px 48px;
    grid-template-columns: 160px 160px;
    align-items:center;
    /* align-self: auto; */
    gap: 0 8px;
}
.form-section h2{
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form-section p{
    display: inline-block;
}
.form-log-in{
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-left: 121px;
}
.button-network{
    position: relative;
    display: flex;
    align-items:center;
    width: 160px;
    height: 48px;
    border-radius: 3px;
}
.line{
    position: absolute;
    left: 48px;
    top: 10px;
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    opacity: 0.1;
}
.link-fb{
    background-color: #305DB8;

}
.link-google{
    background-color: #DF4A32;
}
.link-fb .icon{
    display: inline-block;
    width: 13px;
    height: 24px;
    margin-left: 16px;
    margin-right: 38px;
    background-image:url("./../img/icon-FB.svg");
}
.link-google .icon{
    display: inline-block;
    width: 30px;
    height: 19px;
    margin-left: 10px;
    margin-right: 38px;
    background-image:url("./../img/icon-G+.svg");
}
.button-text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}


.separator-form{
    display: inline-block;
    z-index: 3;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top: 31px;
    margin-bottom: 12px;
}
.separator-form::before{
    content: "" ;
    position: absolute;
    width: 153px;
    height: 1px;
    left: 58px;
    top: 146.5px;
    background: #F2F2F2;
}
.separator-form::after{
    content: "" ;
    position: absolute;
    width: 153px;
    height: 1px;
    left: 233px;
    top: 146.5px;
    background: #F2F2F2;
}
.entry-field {
    width: 322px;
    height: 44.08px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.entry-field::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding-left: 20px;
}
.entry-field:not(:last-child){
    margin-bottom: 15px;
}
.link-after-checkbox{
    color: #3CB878;
}
.input-box p label {
    margin-left: 11px;
}
.custom-checkbox{
    position: absolute;
    top: 479px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #F2F2F2;
}
.btn-create-account{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-style: none;
    margin: 20px auto 38px;
    text-decoration: none;
}