* {
margin: 0;
padding: 0;
}

.header-menu{
display: flex;
justify-content: center;
height: 78px;
align-items: center;
}

.nav-header {
display: flex;
}

.nav-list{
list-style-type: none;
margin: 0 36px;
}

.menu-linc {
font-family: Montserrat;
font-weight: bold;
text-align: center;
font-size: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;
color: #FF0000;
text-decoration: none;
}

.main-h2 {
margin: 48px auto 30px auto;
font-family: Montserrat;
font-weight: bold;
font-size: 22px;
letter-spacing: 3.3px;
text-transform: uppercase;
color: #373737;
text-align: center;
}

.text-main{
margin: 20px 67px;
font-family: Montserrat;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;
}

.btn-start {
margin: auto auto 40px auto;
background: #FF0000;
border-radius: 4px;
border-color:#FF0000;
display: flex;
align-items: center;
border-color: white;
border-style: solid;

}

.btn-linc{
padding: 18px 43px;
font-family: Montserrat;
font-weight: bold;
font-size: 12px;
letter-spacing: 1.8px;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

footer {
display: flex;
justify-content: flex-end;
align-items: center;
height: 108px;
}

.copyrt {
display: inline-block;
margin-right: 108px;
font-family: Montserrat;
font-weight: bold;
font-size: 16px;
letter-spacing: 2.4px;
color: #373737;
}

.img-mount{
width: 100%;
}