.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &_header {
    display: flex;
    flex-direction: column;
    justify-content: end;

    
  }

  &_specification {
    min-width: 50vw;
    color: white;
    background-color: #e74c3c;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

// .modal.active{
//     opacity: 1;
//     pointer-events: all;
// }

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;
  border-radius: 12px;
  // background-color: #fff;
  transform: scale(0.5);
  transition: 0.5s all;
  width: 50vw;

  & h1 {
    text-align: center;
  }
  &.active {
    transform: scale(1);
  }
}

// .modal__content.active{
// transform: scale(1);
// }

.modal_wrapperBtn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
