.footer {
  margin-top: 42px;
  background: #000000;

  & .contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include titleSection;
    color: #fefefe;
    margin-top: 38px;
  }

  &__text {
    margin: 8px 35px 26px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $color-text-footer;
  }

  &__icons-block {
    display: flex;
    gap: 6px;
    width: 192px;
    height: 34px;
  }

  &__icon {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 2px solid;
    border-radius: 30px;
    & img {
      margin: 10px;
    }
    &--color1 {
      border-color: #f8902e;
    }
    &--color2 {
      border-color: #39599f;
    }
    &--color3 {
      border-color: #45b0e3;
    }
    &--color4 {
      border-color: #d97ab0;
    }
    &--color5 {
      border-color: #cc212c;
    }
  }

  & address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 47px;
    a {
      color: $color-text-footer;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
  & address a:not(:last-child):after{
    content: "/";
    margin-left: 10px;
}
}
