.header {
  width: 100%;
  height: 83px;
  position: relative;
  & .contain {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.burger-menu {
  display: inline-block;
  position: relative;
  align-items: center;
  margin-top: 23px;
  width: 44px;
  height: 37px;
  background-color: #201d1d;

  &__line {
    display: block;
    margin: 0 auto;
    width: 17px;
    height: 2px;
    background-color: #fff;
    &::after {
      content: "";
      width: 17px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      bottom: 4px;
      left: 0;
    }

    &::before {
      content: "";
      width: 17px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      bottom: -4px;
      left: 0;
    }
  }

  &__cross {
    display: block;
    margin: 0 auto;
    width: 17px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);

    &::after {
      content: "";
      width: 17px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      bottom: 0px;
      transform: rotate(90deg);
    }
    &::before {
      content: "";
      display: none;
    }
  }
}
.nav {
  width: 182px;
  display: inline-block;
  background: #f5f5f5;
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color:$color-title;
    padding-left: 13px;
    cursor: pointer;
    &:hover {
      color: #57a4a4;
    }
    &:focus {
      background: #e5e5e5;
    }
  }
}
