.posts {
  &__title {
    @include titleSection;
    margin-top: 38px;
  }
}
.section-post {
  &__title {
    margin-top: 11px;
    @include titleSection;
    text-transform: capitalize;
    line-height: 30px;
  }

  & img{
    margin-top: 25px;
  }
  &__comments span{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
  }
  
  &__comments-name{
    margin-right: 10px;

    &--slash::after {
        content: "/";
        position: relative;
        left: 8px;
      }
  }
  &__paragraph{
    display: none;
  }

  &:last-child{
    display: none;
  }
  
}
