// mixins
@mixin titleSection{
font-weight: 700;
font-size: 14px;
line-height: 22px;
text-transform: uppercase;
  color: $color-title;
}

// variables
$color-title :#4e4e4e;
$color-text-footer : #B9B9B9;

