<footer class="footer">
  <div class="contain">
    <h1 class="footer__title">- get in touch with us -</h1>
    <p class="footer__text">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
      sed donec malesuada ullamcorper odio.
    </p>
    <ul class="footer__icons-block">
      <li>
        <a href="#" class="footer__icon footer__icon--color1">
          <img src="../img/rss-icon.png" alt="icon" />
        </a>
      </li>
      <li>
        <a href="#" class="footer__icon footer__icon--color2">
          <img src="../img/facebook-icon.png" alt="icon" />
        </a>
      </li>
      <li>
        <a href="#" class="footer__icon footer__icon--color3">
          <img src="../img/twitter-icon.png" alt="icon" />
        </a>
      </li>
      <li>
        <a href="#" class="footer__icon footer__icon--color4">
          <img src="../img/dribbble-icon.png" alt="icon" />
        </a>
      </li>
      <li>
        <a href="#" class="footer__icon footer__icon--color5">
          <img src="../img/pinterest-icon.png" alt="icon" />
        </a>
      </li>
    </ul>
    <address>
      <a href="#">Moonshine St. 14-05 Light City</a>
      <a class="tel" href="tel:+001234567890">T. +00 (123) 456 78 90</a>
      <a class="e-mail" href="#">first.last@email.com</a>
    </address>
  </div>
</footer>
