<header class="header">
  <div class="contain">
    <button class="burger-menu">
      <span class="burger-menu__line burger-menu__cross"></span>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li><a href="#"class="nav__item">Home</a></li>
        <li><a href="#"class="nav__item">About Us</a></li>
        <li><a href="#"class="nav__item">Our Journal</a></li>
        <li><a href="#"class="nav__item">Projects</a></li>
        <li><a href="#"class="nav__item">news</a></li>
        <li><a href="#"class="nav__item">features</a></li>
        <li><a href="#"class="nav__item">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
