<section class="instragram">
    <div class="contain">
        <h1 class="instragram__title section-title">- Last Instagram Shot</h1>
        <img src="../img/instagram-post-1.png" alt="picture" width="300" height="300">
    </div>
</section>