<section class="intro">
    <div class="contain">
        <picture >
            <source  srcset="../img/intro-bg1200.png" media="(min-width: 768px)">
            <img class="intro__pict" src="../img/intro-bg.png" alt="picture">
        </picture>
    </div>
</section>