<section class="posts">
  <div class="contain">
    <h1 class="posts__title">- our recent posts</h1>
    <div class="section-post posts--positioning">
      <img
        class="section-post__png-1"
        src="../img/post-img1.png"
        alt="picture"
        width="160"
        height="140"
      />
      <div class="section-post__block-text">
        <h2 class="section-post__title">Aenean Adipiscing Etiam Vestibulum</h2>
        <p class="section-post__comments">
          <span class="section-post__comments-name section-post__comments-name--slash">Photography, Journal</span>
          <span>9 Comments</span>
        </p>
        <p class="section-post__paragraph">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="section-post">
      <img
        class="section-post__png-2"
        src="../img/post-img2.png"
        alt="picture"
        width="160"
        height="140"
      />
      <div class="section-post__block-text">
        <h2 class="section-post__title">Aenean Adipiscing Etiam Vestibulum</h2>
        <p class="section-post__comments">
          <span class="section-post__comments-name section-post__comments-name--slash">Photography, Journal</span>
          <span>9 Comments</span>
        </p>
        <p class="section-post__paragraph">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="section-post">
      <img
        class="section-post__png-3"
        src="../img/post-img3.png"
        alt="picture"
        width="160"
        height="140"
      />
      <div class="section-post__block-text">
        <h2 class="section-post__title">Aenean Adipiscing Etiam Vestibulum</h2>
        <p class="section-post__comments">
          <span class="section-post__comments-name section-post__comments-name--slash">Photography, Journal</span>
          <span>9 Comments</span>
        </p>
        <p class="section-post__paragraph">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="section-post">
      <img
        class="section-post__png-4"
        src="../img/post-img4.png"
        alt="picture"
        width="160"
        height="140"
      />
      <div class="section-post__block-text">
        <h2 class="section-post__title">Aenean Adipiscing Etiam Vestibulum</h2>
        <p class="section-post__comments">
          <span
            class="section-post__comments-name section-post__comments-name--slash"
          >
            Photography, Journal</span
          >
          <span>9 Comments</span>
        </p>
        <p class="section-post__paragraph">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
  </div>
</section>
