
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: Open Sans;
    height: 100%;
}
.header-nav{
    width: 1900px;
    background: #313131;
} 
.header-list{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.item-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-picture {
    height: 27px;
    width: 27px;
    padding: 22px 27px;
}
.logo-text{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.header-list-navigation{
    display: flex;
}
.item-header-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin: 0 17px;
}
.linc-header-menu {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.linc-header-menu:hover{
    color: #14B9D5;
}
.item-search.img{
    width: 68px;
    height: 70px;
    background: #000000;
    background-color:white;
}
.header-title{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-image: url('./../img/header-background.svg');
    width: 1900px;
    height: 369px;
}
.header-title-text{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-top: 159px;
}
.header-title-blok-linc{
    display: flex;
    gap: 20px;
    margin-top: 44px;
}
.header-title-linc{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF; 
    padding: 16px 19px;
    background: #89CA62;
    border-radius: 4px;
    min-width: 170px;
    max-height: 55px;
    text-align: center;
}
.background-button {
    background: #14B9D5;
}
.popular-posts{
    display: inline-block;
    background: #F2F2F2;
    width: 1900px;
    padding-bottom: 72px;
}
.title-sections{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top:49px;
    margin-bottom:52px ;
}
.column-popular-posts{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    margin: 0 365px;
    gap: 30px;
}
.list-column-popular-posts{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.list-column-popular-posts li{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.title-popular-posts{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    margin:20px auto;
}


.popular-clients{
    position: relative;
    display: inline-block;
    width: 1900px;
    height: 588px;
    background-image: url("./../img/popular-clients/background-popular-clients.svg")
}
.line-for-section-popular-clients{
    position: absolute;
    width: 60px;
    height: 3px;
    left: 920px;
    top: 239px;
    background: #18B4CF;
}
.list-popular-clients{
    margin-top: 106px;
    display: grid;
    grid-template-rows: repeat(2, 52px);
    grid-template-columns: repeat(4, 232px);
    gap: 196px 28px;
    align-content: center;
    justify-content: center;
    grid-template-areas: 
    "item1 item1 item1 item1"
    "item2 item3 item4 item5"
}
.list-popular-clients li{
    background-repeat:no-repeat;
    background-position:center;
}
.item-title-popular-clients{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.item1{
    grid-area: item1;

}
.item2{
    grid-area: item2;
    background-image:url("./../img/popular-clients/layer1.svg")
}
.item3{
    grid-area: item3;
    background-image:url("./../img/popular-clients/layer2.svg")
}
.item4{
    grid-area: item4;
    background-image: url(./../img/popular-clients/layer3.svg);
}
.item5{
    grid-area: item5;
    background-image: url(./../img/popular-clients/layer4.svg);
}


.top-rated{
    display: inline-block;
    width: 1900px;
}
.list-top-rated{
    display: grid;
    grid-template-columns: repeat(7, 271px);

}
.list-top-rated li{
    width: 271px;
    height: 190px;
}

.item-top-rated-1{background-image:url("./../img/top-rated/top-rated-img1.svg"); background-size: 100%;}
.item-top-rated-2{background-image:url("./../img/top-rated/top-rated-img2.svg"); background-size: 100%;}
.item-top-rated-3{background-image:url("./../img/top-rated/top-rated-img3.svg"); background-size: 100%;}
.item-top-rated-4{background-image:url("./../img/top-rated/top-rated-img4.svg"); background-size: 100%;}
.item-top-rated-5{background-image:url("./../img/top-rated/top-rated-img5.svg"); background-size: 100%;}
.item-top-rated-6{background-image:url("./../img/top-rated/top-rated-img6.svg"); background-size: 100%;}
.item-top-rated-7{background-image:url("./../img/top-rated/top-rated-img7.svg"); background-size: 100%;}

.hot-news{
    width: 1900px;
    padding-bottom: 71px;
}
.item-hot-news{
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    position: relative;
}
.item-hot-news h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.item-hot-news p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469
}
.list-hot-news * {
    display: inline-block;
}
.list-hot-news{
    margin: 0 auto;
    /* width: 1170px ;
    height: 1480px; */
    display: grid;
    grid-template-rows: 258px 418px 418px 258px;
    grid-template-columns: repeat(4,277px);
    justify-content: center;
    gap: 43px 20px;
    grid-template-areas: 
    "gridhn1 gridhn1 gridhn1 gridhn2"
    "gridhn3 gridhn3 gridhn4 gridhn4"
    "gridhn5 gridhn5 gridhn6 gridhn6"
    "gridhn7 gridhn8 gridhn8 gridhn8"
    ;
}

.item-hn-1{
    grid-area: gridhn1;
    background-image: url("./../img/hot-news/hot-news1.svg");
    width: 871px;
    height: 258px;
} 
.item-hn-2{
    grid-area: gridhn2;
    background-image: url("./../img/hot-news/hot-news2.svg");
    width: 277px;
    height: 258px;
}
.item-hn-3{
    grid-area: gridhn3;
    width: 554px;
        height: 418px;
        background-image: url("./../img/hot-news/hot-news3.svg");
}
.item-hn-4{
    grid-area: gridhn4;
    width: 554px;
    height: 418px;
    background-image: url("./../img/hot-news/hot-news4.svg");
    margin-left: 20px;
}
.item-hn-5{
    grid-area: gridhn5;
    width: 554px;
    height: 418px;
    background-image: url("./../img/hot-news/hot-news5.svg");
}
.item-hn-6{
    grid-area: gridhn6;
    width: 554px;
    height: 418px;
    background-image: url("./../img/hot-news/hot-news6.svg");
    margin-left: 20px;
}
.item-hn-7{
    grid-area: gridhn7;
    width: 277px;
    height: 258px;
    background-image: url("./../img/hot-news/hot-news7.svg");
}
.item-hn-8{
    grid-area: gridhn8;
    background-image: url("./../img/hot-news/hot-news8.svg");
    width: 871px;
    height: 258px;
}
.title-hn-1{
    position: absolute;
    right: 24px;
    top: 41px;
}
.title-hn-2{
    position: absolute;
    left: 41px;
    top: 224px;
}
.title-hn-3{
    position: absolute;
    right: 13px;
    top: 273px;
}
.title-hn-4{
    position: absolute;
    right: 13px;
    top: 273px;
}
.title-hn-5{
    position: absolute;
    right: 13px;
    top: 273px;
}
.title-hn-6{
    position: absolute;
    right: 13px;
    top: 273px;

}
.title-hn-7{
    position: absolute;
    left: 41px;
    top: 215px;
}
.title-hn-8{
    position: absolute;
    right: 24px;
    top: 41px;
}

.text-hn-1{
    position:absolute;
    width: 350px;
    height: 140px;
    right: 24px;
    top: 78px;
    text-align: end;
}
.text-hn-3{
    position: absolute;
    width: 527px;
    height: 104px;
    right: 13px;
    top: 311px;
    text-align: end;
}
.text-hn-4{
    position: absolute;
    width: 527px;
    height: 104px;
    right: 13px;
    top: 311px;
    text-align: end;

}
.text-hn-5{
    position: absolute;
    width: 527px;
    height: 104px;
    right: 13px;
    top: 311px;
    text-align: end;
}
.text-hn-6{
    position: absolute;
    right: 13px;
    top: 311px;
    text-align: end;
}
.text-hn-8{
    position: absolute;
    width: 350px;
    height: 140px;
    right: 24px;
    top: 78.5px;
    text-align: end;
}

.footer-home-page{
    display: grid;
    grid-template-columns: 367px 1070px 38px 300px;
    align-content:center;
    width: 1900px;
    height: 80px;
    background: #000000;
}
.footer-text{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer-logo-text{
    width: 64px;
    height: 16px;
    background-image:url("./../img/footer/footer-logo-text.svg")
}


