
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.header-home{
    width: 1280px; 
    margin: 63px auto 0 auto; 
}
.linc-logo{
    font-size: 80px;
    line-height: 94px;
    color: #000;
}
.linc-logo span{
    color:#4bcaff;
 }
.list-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    width: 1280px;
    height: 70px;
    gap: 1px;
}
.list-nav li{
    background-color: #35444F;
    text-align: center;
    padding-top: 26px ;
    padding-bottom: 19px;
}
.list-nav:first-child{
    width: 100%;
}
.linc-nav{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    white-space: nowrap;
}
/* dynamic size of the first navigation block */
.stabilizer1{
    width: 100%;
}
/* fixed size of the last navigation block */
.stabilizer2{
    margin-left: 55px;
    margin-right: 55px; 
}

main{
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    width: 1280px;
    margin: 48px auto 0 auto;
}
.menu{
    display: inline-block;
    border: 1px solid #000000;
    width: 345px;
}
.menu-list{
    display: flex;
    flex-direction: column;
    
}
.menu-iteam{
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom: 26px;
}
.menu-link{
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.section-content{
    display: inline-block;
    width: 885px;
}
.section-content p{
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 70px;
    margin: 54px auto 30px auto;
    background: rgba(99, 105, 110, 0.48);
    padding-left: 20px;
    padding-right: 20px;
}
.footer-list{
    display: flex;
    align-items: center;
}
.iteam-footer a{
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-left: 20px;
    margin-right: 20px;
}
.footer-copiright{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-left: 20px;
    margin-right: 20px;
}