@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: Roboto, sans-serif;
    width: 1366px;
    height: 768px;
    background-image: url("./../img/background-all-milan.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid;
}
.contain {
    width: 1028px;
    margin: 0 auto;
}
.logo-link{
    position: absolute;
    left: 0;
    width: 160px;
    height: 61px;
}
.footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
    margin-top: 51px;
}
.logo-footer-contain{
    width: 160px;
    display: grid;
    grid-template-rows: 32px 15px;
    grid-template-columns: 53px 99px;
    grid-template-areas:
        "a b"
        "a c";
    align-items: flex-start;
    gap: 0 8px;
}
.logo-footer-contain:hover .logo-img{
    background-image:url("./../img/logo-hover.svg");
}
.logo-footer-contain:hover .logo-hover{
    color: #F26522;
}
.contact-footer a:hover{
    color: #F26522;  
}
.logo-img{
    grid-area: a;
    width: 53px;
    height: 47px;
    background-image:url("./../img/logo.svg");
}
.logo-txt1{
    grid-area: b;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    box-sizing: border-box;
}
.logo-txt2{
    grid-area: c;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.contact-footer{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
    width: 300px;
    height: 61px;
}
.contact-footer a{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}


.tours-article{
    width: 1030px;
    height: 560px;
    margin-top: 22px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 40px 62px;
}
.link-article{
    position: relative;
    z-index: 0;
    width: 300px;
}
.imglink-size{
    background-color:#FFFFFF;
    z-index:1;
    background-position: top;
    width: 300px;
    height: 220px;
}
.image-link1{
    background-image:url("./../img/main-img/image1.svg");
    background-size: 132%;
}
.image-link2{
    background-image:url("./../img/main-img/image2.svg");
    background-size: 104%;
}
.image-link3{
    background-image:url("./../img/main-img/image3@2x.svg");
    background-size: 102%;
}
.image-link4{
    background-image:url("./../img/main-img/image4.svg");
    background-size: 102%;
}
.image-link5{
    background-image:url("./../img/main-img/image5.svg");
    background-size: 138%;
}
.image-link6{
    background-image:url("./../img/main-img/image6.svg");
    background-size: 102%;
}
.pop-up-data{
    position: absolute;
    top: 165px;
    z-index:-1;
    bottom: 0;
    background-color:#F26522;
    width: 300px;
    height: 55px;
}
.link-article:hover .pop-up-data{
    z-index: 2;
}
.link-article:hover h2{
    color:#F26522;
}
.pop-up-data p{
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
}
.pop-up-data p:first-child{
    top: 7px;
    left: 16px;
    font-size: 10px;
    line-height: 10px;
}
.pop-up-data p:nth-child(2) {
    top: 29px;
    left: 16px;
    font-size: 20px;
    line-height: 20px;
}
.pop-up-data p:last-child{
    top: 29px;
    left: 180px;
    font-size: 14px;
    line-height: 14px;
}
.pop-up-data p:last-child::after{
    content:" ";
    display: inline-block;
    background-image:url(./../img/vector.svg);
    width: 7px;
    height: 11px;
    margin-left: 18px;
}
.title-tours{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.footer-text{
    margin-top: 49px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}
